*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
}

@font-face {
    font-family: "Outfit";
    src: url(component/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Outfit-med";
    src: url(component/fonts/Outfit-Medium.ttf);
}

body {
    background: hsl(212, 45%, 89%);
    width: 100%;
}

.container {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 320px;
    margin: 90px auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

.container img {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.container p, h1 {
    width: 95%;
    margin: 10px auto;
}

.container h1 {
    font-family: 'Outfit-med';
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.container p {
    font-family: 'Outfit';
    font-size: 16px;
    color: hsl(220, 15%, 55%);
}

footer {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}